ConfigSpace~=0.4.20
matplotlib~=3.4.3
networkx~=2.6
numpy~=1.21.4
nbformat~=5.1.3
pandas~=1.3.4
scikit-learn~=1.0.1
joblib~=1.1.0
scipy~=1.7.2
statsmodels~=0.13.0
openml~=0.12.2
multiprocessing_logging~=0.3.1