ConfigSpace~=0.4.21
matplotlib~=3.5.1
networkx>=2.7,<3
numpy~=1.21.5
nbformat>=5.1,<6
pandas>=1.3.0
scikit-learn~=1.0.2
joblib~=1.1.0
scipy~=1.8.0
statsmodels~=0.13.2
openml~=0.12.2
multiprocessing_logging~=0.3.1
python-slugify~=6.1.1
dswizard-components~=0.2.1